#file-box {
  height: 80%;
  width: 75%;
  margin-top: 5%;
  margin-left: 15%;
  align-items: center;
}

#uploadButton {
  margin: auto;
  margin-top: 10%;
  width: 100%;
  background-color: #21b4a6;
  color: honeydew;
}

#submit-button {
  margin: auto;
  margin-top: 30%;
  background-color: #21b4a6;
  color: honeydew;
}

#status-window {
  margin: auto;
  margin-top: 30%;
  font-size: large;
  font-family: Calibri;
}

#fileInput {
  opacity: 0;
  position: static;
}

#attachIcon {
  margin: auto;
}

#fileName {
  width: 50%;
  margin: auto;
  margin-top: 50%;
}

#upload_button {
  background-color: #21b4a6;
  color: honeydew;
}

