<mat-card id="file-box">
  <label for="fileInput" id="uploadButton" class="mat-button mat-raised-button">
    <input id="fileInput" type="file" (change)="fileChange($event)" accept=".txt,.pdf,.doc,.docx">
    <br>
    <mat-icon id="attachIcon" class="material-icons">attach_file</mat-icon>
    <br>
    Click to upload
  </label>
  <!--<textarea id="fileName" ng-model="fileName" placeholder="Choose text document" readonly="true">{{fileselectmessage}}</textarea>-->
  <div id="status-window">
    <mat-placeholder>
      <!--{{ response_text }}-->
      No document selected
    </mat-placeholder>
  </div>
  <br>
  <button type="submit" id="submit-button" (click)="fileUpload($event)" mat-raised-button>Submit</button>
</mat-card>
