#response-box {
  height: 70%;
  margin-top: 1%;
  text-align: left;
}

#convo-field {
  width: 80%;
}

#status-spinner{
  float: right;
  margin-top: -7%;
  margin-right: 10%;
}

#response-window {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: auto;
  font-size: large;
  font-family: Calibri;
}

