#response-box {
  height: 70%;
  margin-top: 1%;
  text-align: left;
}

#convo-field {
  width: 80%;
}

#response-window {
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: auto;
  font-size: large;
  font-family: Calibri;
}

