#search-box {
  height: 50%;
  margin-top: 2%;

}

#search-button {
  margin-right: 20px;
  background-color: #21b4a6;
  color: honeydew;
}

.search-form {
  width: 100%;
  height: auto;
}

#search-field {
  width: 90%;
}

#upload_button {
  background-color: #21b4a6;
  color: honeydew;
}

