<md-card id="search-box">
    <!--Choose text document:-->
    <!--<button md-raised-button id="upload_button">Upload-->
       <!--&lt;!&ndash;<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">&ndash;&gt;-->
    <!--</button>-->
  <form class="search-form">
    <md-icon id="search-icon" mdPrefix>search</md-icon>
    <md-form-field id="search-field">
      <input mdInput id="query-field" type="search" placeholder="Your question..">
    </md-form-field>
  </form>
</md-card>
