<mat-card id="search-box">
  <!--Choose text document:-->
  <!--<button mat-raised-button id="upload_button">Upload-->
  <!--&lt;!&ndash;<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">&ndash;&gt;-->
  <!--</button>-->
  <form class="search-form" #searchForm = "ngForm">
    <mat-icon id="search-icon" matPrefix></mat-icon>
    <mat-form-field id="search-field">
      <input matInput [(ngModel)]="query" name="query" id="query-field" type="text" placeholder="Your question.." ngModel>
    </mat-form-field>
    <br>
    <!--<button type="submit" id="ir-search-button" (click)="querySubmit('InfoRet', $event)" mat-raised-button >Search</button>-->
    <!--<button type="submit" id="babi-search-button" (click)="querySubmit('bAbI', $event)" mat-raised-button>bAbI Search</button>-->
    <button type="submit" id="search-button" (click)="querySubmit('InfoRet', $event)" mat-raised-button >Search</button>

  </form>
</mat-card>
