<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <md-toolbar id="navbar">
    <!--{{title}}-->
    <!--<md-tab-group>-->
      <!--<md-tab label="Tab 1">Content 1</md-tab>-->
      <!--<md-tab label="Tab 2">Content 2</md-tab>-->
    <!--</md-tab-group>-->
    <img id="logo" src="../assets/images/erudite_logo2.png" width="180" height="60"/>
  </md-toolbar>
  <app-file-upload></app-file-upload>
  <app-docx-search></app-docx-search>
  <app-response></app-response>
</div>
