<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar id="navbar">

    <img id="logo" src="../assets/images/erudite_logo2.png" width="180" height="60"/>
  </mat-toolbar>
  <hr>
  <mat-grid-list cols="10" rows="5" rowHeight="90px">
    <mat-grid-tile colspan="3" rowspan="5">
      <app-file-upload class="comp-card" fullscreen></app-file-upload>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="2">
      <app-docx-search class="comp-card"></app-docx-search>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="3">
      <app-response class="comp-card"></app-response>
    </mat-grid-tile>
  </mat-grid-list>

</div>
