#navbar {
  padding-top: 15px;
}

/*#footer {*/
  /*background-color: #21b4a6;*/
  /*align-content: center;*/
  /*font-size: small;*/
/*}*/

#logo {
  margin: auto
}

.comp-card {
  vertical-align: middle;
  width: 90%;
  height: 100%;
}

/*mat-grid-tile {*/
/*background: lightblue;*/
/*}*/
